# Игнорирование папок __pycache__ во всех поддиректориях
__pycache__/

# Игнорирование всех .pyc файлов
*.pyc

# Игнорирование фалов сессий
*.session

# Игнорирование фалов результата
*.xlsx

# Игнорирование файла 
config_tg.py