# Ignore __pycache__ folders in all subdirectories
__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore session files
*.session

# Ignore result files
*.xlsx

# Ignore the file
config_tg.py
config.py

# Ignore code-workspace files
*.code-workspace

# Ignore venv
tg_guop_parser_venv/